
///icon-font key
$fonticons: (
  facebook: "\0041",
  instagram: "\0042",
  linkedin: "\0043",
  googleplus: "\0044",
  twitter: "\0045",
  pintrest: "\0046",
  youtube: "\0047",
  rightarrowcircle: "\0048",
  leftarrowcircle: "\0049",
  rightarrow: "\004A",
  leftarrow: "\004B",
  downarrow: "\004C",
  uparrow: "\004D",
);

