$zindex: (
  modal: 9000, 
  overlay: 8000, 
  dropdown: 7000, 
  adminnav: 5000, 
  header: 4000, 
  header-contents: 4100, 
  content: 3000, 
  content-above: 3100, 
  footer: 2000
  );

// How to use:
//.example-header
//  z-index: map-get($zindex, header)