@mixin mobile-menu-toggle {
  text-indent: -100%;
  width: $navicon-size - 10px;
  height: $navicon-size;
  display: block;
  margin: 5px;
  padding-left: $navicon-size;
  &:before {
  content: "|||";
  padding: 10px;
  line-height: 0.7;
  float: right;
  font-size: 40px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
  .modal-content & {
    display: none;
  }
}

%mobile-menu-toggle {
  @include mobile-menu-toggle;
}