// HTML elements: Tabular Data
//
// Markup:
//     <p>Tables should be used when displaying tabular data. The <code>thead</code>, <code>tfoot</code> and <code>tbody</code> elements enable you to group rows within each a table.</p>
//     <p>If you use these elements, you must use every element. They should appear in this order: <code>thead</code>, <code>tfoot</code> and <code>tbody</code>, so that browsers can render the foot before receiving all the data. You must use these tags within the table element.</p>
//     <div class="example">
//         <table>
//             <caption>The Very Best Eggnog</caption>
//             <colgroup>
//                 <col style="width:15em;" />
//                 <col style="width:6em;" />
//                 <col style="width:6em;" />
//             </colgroup>
//             <thead>
//                 <tr>
//                     <th scope="col">Ingredients</th>
//                     <th scope="col">Serves 12</th>
//                     <th scope="col">Serves 24</th>
//                 </tr>
//             </thead>
//             <tbody>
//                 <tr>
//                     <td>Milk</td>
//                     <td>1 quart</td>
//                     <td>2 quart</td>
//                 </tr>
//                 <tr>
//                     <td>Cinnamon Sticks</td>
//                     <td>2</td>
//                     <td>1</td>
//                 </tr>
//                 <tr>
//                     <td>Vanilla Bean, Split</td>
//                     <td>1</td>
//                     <td>2</td>
//                 </tr>
//                 <tr>
//                     <td>Cloves</td>
//                     <td>5</td>
//                     <td>10</td>
//                 </tr>
//                 <tr>
//                     <td>Mace</td>
//                     <td>10 blades</td>
//                     <td>20 blades</td>
//                 </tr>
//                 <tr>
//                     <td>Egg Yolks</td>
//                     <td>12</td>
//                     <td>24</td>
//                 </tr>
//                 <tr>
//                     <td>Cups Sugar</td>
//                     <td>1 &frac12; cups</td>
//                     <td>3 cups</td>
//                 </tr>
//                 <tr>
//                     <td>Dark Rum</td>
//                     <td>1 &frac12; cups</td>
//                     <td>3 cups</td>
//                 </tr>
//                 <tr>
//                     <td>Brandy</td>
//                     <td>1 &frac12; cups</td>
//                     <td>3 cups</td>
//                 </tr>
//                 <tr>
//                     <td>Vanilla</td>
//                     <td>1 tbsp</td>
//                     <td>2 tbsp</td>
//                 </tr>
//                 <tr>
//                     <td>Half-and-half or Light Cream</td>
//                     <td>1 quart</td>
//                     <td>2 quart</td>
//                 </tr>
//                 <tr>
//                     <td>Freshly grated nutmeg to taste</td>
//                     <td></td>
//                     <td></td>
//                 </tr>
//             </tbody>
//         </table>
//     </div>
// <table class="borders">
// <caption>This table includes the class "borders"</caption>
//    <thead>
//        <tr>
//          <th scope="col">Ingredients</th>
//          <th scope="col">Serves 1</th>
//          <th scope="col">Serves 2</th>
//        </tr>
//    </thead>
//  <tbody>
//    <tr>
//        <td>Milk</td>
//        <td>1 cup</td>
//        <td>2 cup</td>
//    </tr>
//    <tr>
//        <td>Cookies</td>
//        <td>2</td>
//        <td>4</td>
//    </tr>
//  </tbody>
// </table>
//
// Styleguide 1.5

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 10px 0;
  padding: 0;
  //width: 100%
  @include breakpoint($max-phone-l) {
    max-width: 100%;
    display: block;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  &.sticky-header {
    z-index: 10;
  }
}
caption {
  @include heading4;
  padding: 9px 0px 0;
}
thead {
  color: $color-one;
  border-bottom: 1px solid $color-three;
}

td,
th {
  padding: 0;
}

table,
td,
th {
  vertical-align: middle;
}

caption,
th,
td {
  text-align: left;
}

td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 9px 0px;
  background-color: transparent;
}

table.views-table {
  min-width: 320px;
}

.mobile-table {
  @include breakpoint($max-phone-l) {
    tr {
      border-bottom: 10px solid transparent;
    }
    td,th {
      display: block;
    }
  }
}

table.borders {
  td {
    border: 1px solid $color-three;
  }
  caption,
  td,
  th {
    padding: 9px 5px;
  }
}