//*************************************
// Animations

@mixin transition {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

// check out https://github.com/at-import/animation-studio
// for more mixins

@mixin alerted {
  &:before {
    content: "";
    position: absolute;
    top: 6px;
    right: 6px;
    height: 8px;
    width: 8px;
    @include border-radius(10px);
    background-color: gold;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    @include border-radius(20px);
    background-color: transparent;
    border: solid gold;
    border-width: 2px;
    @include box-sizing(border-box);
    @include animation($name: alertMe);
  }
}
