@mixin mediablock {
  margin: 0 ;
  @include clearfix;
}

@mixin media-separator($color: #333) {
  &::before {
    content: " ";
    display: block;
    width: 100%;
    border: $color solid 1px;
    margin: 0 0 20px 0;
  }
}

@mixin mediablock__title {
  @include font-size(16px, 1.1);
  @include caps;
  margin-top: 0 !important;
  padding-top: 0;
  border-top: 0 !important;
  color: $color-two;
  h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-size: inherit;
    text-transform: inherit;
    margin-top: inherit;
    padding-top: inherit;
    border-top: inherit;
  }
  a {
    color: $color-two;
  }
}

$mediablock-img-max-sm: 150px;
$mediablock-img-max-lg: 230px;
$default-mediablock-bg-path: "images/icons/bulldog_transparent.png";

// Default image, floated to the left
@mixin mediablock__img(
  $default-img-bg: false,
  $larger-thumb-desktop: false
  ){
  margin-bottom: 10px;
  float: left;
  margin-right: 20px;
  margin-bottom: 0px;
  width: $mediablock-img-max-sm;
  height: $mediablock-img-max-sm;
  @if $default-img-bg {
    background: 50% rgba(239, 243, 241, 0.56) no-repeat url("#{$default-mediablock-bg-path}");
    background-size: $mediablock-img-max-sm;
  }
  @if $larger-thumb-desktop{
    @include breakpoint($tablet-landscape) {
      margin-right: 45px;
      margin-bottom: 5px;
      width: $mediablock-img-max-lg;
      height: $mediablock-img-max-lg;
    }
  }
  &.icon {
    float: left;
    margin-right: 1rem;
  }
  a {
    display: block;
  }
  img {
    display: block;
    width: auto;
  }
}

// Modifier to keep the text from flowing around the image.
@mixin mediablock--tight($body: "mediablock__body") {
  .#{$body} {
    overflow: auto;
  }
}

// Modifier to float media to the right, text on the left
@mixin mediablock--reversed {
  .mediablock__img {
    @include breakpoint($smartphone-landscape) {
      float: right;
      margin-right: 0;
      margin-left: 1em;
    }
  }
}


@mixin mediablock-tight-view (
  $unit-name: ".views-row",
  $image-field: ".pane-node-field-shared-image",
  $title-field: ".pane-node-title, .pane-butler-core-node-title-pane",
  $body-field: ".pane-node-body",
  $default-img-bg: false,
  $larger-thumb-desktop: false,
  $separator-color: false
  ){

  #{$unit-name} {
    @include mediablock;
    #{$image-field} {
      @include mediablock__img($default-img-bg);
    }
    #{$title-field}  {
      @include mediablock__title;
      overflow: auto;
    }
    #{$body-field}  {
      overflow: auto;
    }
  }
  @if $separator-color {
    #{$unit-name} ~ #{$unit-name} {
     @include media-separator($separator-color);
    }
  }
}