//*************************************
// Typography

$base-font-size: 16px;
$base-line-height: 24px;
$rhythm-unit: "rem";
$rem-with-px-fallback: true;

$sans-serif-small: Arial, sans-serif;
$sans-serif-large: Verdana, Geneva, "DejaVu Sans", Arial, Helvetica, sans-serif;
$serif-small: Garamond, Perpetua, "Times New Roman", serif;
$serif-large: Georgia, Baskerville, Palatino, "Palatino Linotype", "Book Antiqua", "Times New Roman", serif;
$mono: Consolas, Monaco, "Courier New", Courier, monospace, sans-serif;

//  Custom Font Fallbacks
$primary-sans: "Arial", sans-serif;
$primary-serif: "Times New Roman", serif;
$secondary-font: "Impact", $primary-sans;
$icon-font: "FontAwesome";

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @if $value == subpixel {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin primary-font {
  font-family: $sans-serif-small;
}

@mixin secondary-font {
  font-family: $secondary-font;
}

@mixin icon-font {
  font-family: $icon-font;
}

@mixin font-awesome {
  font-family: $font-awesome;
}

@mixin thick {
  font-weight: bold;
}
@mixin thin {
  font-weight: normal;
  font-weight: 100;
}

@mixin italic {
  font-style: italic;
}

@mixin caps {
  text-transform: uppercase;
}

@mixin link($link-color: $link, $link-hover: $link-hover, $underline: no) {
  text-decoration: none;
  &:link,
  &:visited {
    text-decoration: none;
    color: $link-color;
  }
  @if $underline == no {
    //&.active,
    &:hover,
    &:focus {
      color: $link-hover;
    }
  }
  @if $underline == yes {
    //&.active,
    &:hover,
    &:focus {
      text-decoration: underline;
      color: $link-hover;
    }
  }
}

@mixin link-inherit-color-hover {
  a:hover,
  a:focus {
    color: inherit;
  }
}

@mixin link-inherit-color($hover: hover) {
  a,
  a:link,
  a:visited {
    color: inherit;
  }
  @if $hover == hover {
    &:hover {
      @include link-inherit-color-hover;
    }
  }
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin font-size($size: 16px, $lh: 1.4) {
  font-size: $size;
  font-size: calculateRem($size);

  @if unit($lh) == "px" {
    $lh: $lh / $base-line-height;
  }
  line-height: $lh;
}

@mixin text-style($size: 1.6, $color: $text-primary, $link-color: inherit, $active-color: inherit, $type: null, $underline: no, $lh: 1.4) {
  @include font-size($size, $lh);
  @if $type == link {
    a {
      @include link($link-color, $active-color, $underline);
    }
  }
  @else {
    color: $color;
  }
}

%hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

%offscreen {
  position: absolute;
  left: -1000em;
}

@mixin truncate-text($overflow: ellipsis) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: $overflow;
}

%list-title {
  @include thick;
  @include text-style($size: 16px, $lh: 18px);
}

%small-text {
  @include text-style($size: 12px, $lh: 16px);
}


//css columns
//add colums using css-columns-count(3)
@mixin css-column-count($how-many:1){
    -webkit-column-count: $how-many; /* Chrome, Safari, Opera */
    -moz-column-count: $how-many; /* Firefox */
    column-count: $how-many;
  }

//adds break - inside, accepts values auto: auto, avoid: avoid page breaks, initial: sets to default (auto), inherit: from parent
@mixin css-column-break($break-on-this:avoid){
      -webkit-column-break-inside:$break-on-this;
      -moz-column-break-inside:$break-on-this;
      -o-column-break-inside:$break-on-this;
      -ms-column-break-inside:$break-on-this;
      column-break-inside:$break-on-this;
}



@mixin reset {
    // General
    box-sizing: border-box;
    height: auto;
    width: auto;
    position: static;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    clear: none;
    clip: auto;
    cursor: auto;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    float: none;
    opacity: 1;
    pointer-events: auto;
    resize: none;
    speak: normal;
    overflow-x: visible;
    overflow-y: visible;
    visibility: visible;
    vertical-align: baseline;
    z-index: auto;
    zoom: 1;

    // Typography

    letter-spacing: normal;
    color: #000;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-overflow: clip;
    text-rendering: auto;
    text-shadow: none;
    word-break: normal;
    word-spacing: 0;
    word-wrap: normal;

    // Tables
    border-collapse: collapse;
    border-spacing: 0;

    // Lists
    list-style: none;

    backface-visibility: visible;
    background: 0;
    filter: none;
    box-shadow: none;
    transform: none;
    transition: none;
}